package ui

templ Spinner() {
	<div
		id="spinner"
		class="fixed inset-0 max-h-screen w-full z-[1000] bg-black/80 flex items-center justify-center htmx-indicator"
	>
		<span class="loading loading-ball loading-xs text-secondary"></span>
		<span class="loading loading-ball loading-sm text-secondary"></span>
		<span class="loading loading-ball loading-md text-secondary"></span>
		<span class="loading loading-ball loading-lg text-secondary"></span>
	</div>
}
