@tailwind base;
@tailwind components;
@tailwind utilities;

.nunito-sans-main-body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.htmx-indicator{
    display:none;
}
.htmx-request .htmx-indicator{
    display:flex;
}
.htmx-request.htmx-indicator{
    display:flex;
}
